doctype html
head
    meta(charset='UTF-8')
    title Automation Test
    link(rel='stylesheet' href='/css/bootstrap.min.css')
//.container-fluid(style="background-image: url('/img/background-img-slider.jpg')")
.container-fluid
    .container.py-4
        form.col-12.row(action='/urls' method='post')
            .col-6
                textarea.p-2.w-100(name='urls' id='' cols='30' rows='25' placeholder='Copy & paste URLs to this input')
            .col-6.d-flex.flex-grow-1.flex-column
                .h-25
                    h2.text-center Automation Test using Puppeteer
                .h-75
                    .col-12.d-flex.flex-wrap.justify-content-around
                        //span.py-2.px-4.my-3.mx-4.border.border-primary
                        //    input(type='radio').custom-radio
                        //    span example
                        span.custom-control.custom-radio.py-2.pl-5.pr-4.my-2.border.border-primary
                            input#order.custom-control-input(type='checkbox' name='order' value='apply-visa')
                            label.custom-control-label(for='order') Order

                        span.custom-control.custom-radio.py-2.pl-5.pr-4.my-2.border.border-primary
                            input#payment.custom-control-input(type='checkbox' name='payment' value='make-payment')
                            label.custom-control-label(for='payment') Payment

                        span.custom-control.custom-radio.py-2.pl-5.pr-4.my-2.border.border-primary
                            input#contact.custom-control-input(type='checkbox' name='contact' value='contact-us')
                            label.custom-control-label(for='contact') Contact

                .d-flex.justify-content-center
                    button.btn.btn-success.px-5(type='submit') submit