doctype html
head
	meta(charset='UTF-8')
	title Automation Test
	link(rel='stylesheet' href='/css/bootstrap.min.css')
	script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
body
	//.container-fluid(style="background-image: url('/img/background-img-slider.jpg')")
	.container-fluid
